%h1 Hello #{@user.first_name}

%p Someone has claimed that he/she forgot the password of your account. If you were the one who requested, please click on the following link to activate your new password; otherwise, please ignore this email.

= link_to "Click here", retrieve_password_profile_url(:id => @user.id, :digest => @digest, :expired => @expired), :target => "_blank"

%p This link is only valid for 60 minutes from now and it will be expired at (#{Time.at @expired}).
%p After you click the link, your new password is <strong>#{@new_password}</strong>

%br
%br

%p Best Regards