#forget-password-section
	%h1 Retrieving new password
	%p Please enter your E-mail in the following and submit. We will send you an E-mail to verify that.
	= form_tag :post_forget_password_profile, :method => :post do
		.field
			Enter your E-mail
			%br= text_field_tag :email, params[:email], :placeholder => "E-mail"
		.actions
			= submit_tag "Submit", :class => "btn btn-large btn-primary"