#forget-password-section
	%h1 Enter your E-mail here to receive new password 
	= form_tag :post_forget_password_profile, :method => :post do
		.field
			Enter your E-mail
			%br= text_field_tag :email, params[:email], :placeholder => "E-mail"
		.actions
			= submit_tag "Submit", :class => "btn btn-large btn-primary"